<div class="main-container">
    <div class="rectangle-copy">
      <div class="flex-row-c">
        <div class="textfield"><input class="top-search-bar-input" /></div>
        <div class="regroup-i">
          <div class="group-1"></div>
          <div class="profile-picture"><span class="ag">AG</span></div>
        </div>
        <div class="logo"></div>
        <div class="group-2"><span class="home-3">Home</span></div>
        <div class="group-4"><span class="categories">Categories</span></div>
        <div class="group-5"><span class="my-tickets">My Tickets</span></div>
        <div class="group-6"><span class="bookmarked">Bookmarked</span></div>
      </div>
      <div class="rectangle"></div>
    </div>
    <div class="categories-7">
      <span class="filters">Filters</span>
      <div class="tags">
        <span class="soccer">Soccer</span><span class="sports">Sports</span
        ><span class="music">Music</span
        ><span class="rock-roll">Rock & Roll</span
        ><span class="technology">Technology</span
        ><span class="barcelona">Barcelona</span
        ><span class="real-madrid">Real Madrid</span
        ><span class="comic-book-movies">Comic Book Movies</span
        ><span class="marvel">Marvel</span
        ><span class="star-wars">Star Wars</span
        ><span class="fashion">Fashion</span><span class="apple">Apple</span
        ><span class="samsung">Samsung</span>
      </div>
    </div>
    <div class="flex-row-d">
      <div class="featured-events">
        <span class="featured-events-8">Featured Events</span>
        <div class="featured-event">
          <div class="featured-event-9">
            <div class="mask"></div>
            <div class="rectangle-a"></div>
            <div class="icons-white-heart">
              <div class="ic-favorite-px"></div>
            </div>
            <div class="title">
              <span class="apple-special-event">Apple Special Event</span
              ><span class="october-san-fran">October 30, San Fransisco</span>
            </div>
            <div class="three-dots"><div class="three-dots-b"></div></div>
          </div>
        </div>
        <div class="frame"></div>
      </div>
      <div class="my-tickets-c">
        <div class="tickets">
          <div class="ticket-small">
            <div class="button">
              <div class="icons-white-qr"><div class="qr"></div></div>
              <div class="button-square"></div>
            </div>
            <div class="ticket">
              <div class="rectangle-d"></div>
              <span class="avengers-infinity-war"
                >Avengers: Infinity War</span
              >
              <div class="picture"></div>
              <div class="time-date">
                <div class="icon-purple-clock">
                  <div class="ic-access-time-px"></div>
                </div>
                <span class="september-10am">September 30, 10:00 AM</span>
              </div>
              <div class="location">
                <div class="icon-purple-pin">
                  <div class="ic-location-on-px"></div>
                </div>
                <span class="oakland-imax-theater">Oakland IMAX Theater</span>
              </div>
            </div>
          </div>
          <div class="ticket-small-e">
            <div class="button-f">
              <div class="icons-white-qr-10"><div class="qr-11"></div></div>
              <div class="button-square-12"></div>
            </div>
            <div class="ticket-13">
              <div class="rectangle-14"></div>
              <span class="star-wars-last-jedi"
                >Star Wars: The Last Jedi</span
              >
              <div class="picture-15"></div>
              <div class="time-date-16">
                <div class="icon-purple-clock-17">
                  <div class="ic-access-time-px-18"></div>
                </div>
                <span class="september-10am-19">September 30, 10:00 AM</span>
              </div>
              <div class="location-1a">
                <div class="icon-purple-pin-1b">
                  <div class="ic-location-on-px-1c"></div>
                </div>
                <span class="oakland-imax-theater-1d"
                  >Oakland IMAX Theater</span
                >
              </div>
            </div>
          </div>
          <div class="ticket-small-1e">
            <div class="button-1f">
              <div class="icons-white-qr-20"><div class="qr-21"></div></div>
              <div class="button-square-22"></div>
            </div>
            <div class="ticket-23">
              <div class="rectangle-24"></div>
              <span class="avengers-infinity-w">Solo: A Star Wars Story</span>
              <div class="picture-25"></div>
              <div class="time-date-26">
                <div class="icon-purple-clock-27">
                  <div class="ic-access-time-px-28"></div>
                </div>
                <span class="september-date">September 30, 10:00 AM</span>
              </div>
              <div class="location-29">
                <div class="icon-purple-pin-2a">
                  <div class="ic-location-on-px-2b"></div>
                </div>
                <span class="oakland-imax-theater-2c"
                  >Oakland IMAX Theater</span
                >
              </div>
            </div>
          </div>
          <div class="ticket-small-2d">
            <div class="button-2e">
              <div class="icons-white-qr-2f"><div class="qr-30"></div></div>
              <div class="button-square-31"></div>
            </div>
            <div class="ticket-32">
              <div class="rectangle-33"></div>
              <span class="avengers-infinity-w-34">Thor: Ragnarock</span>
              <div class="picture-35"></div>
              <div class="time-date-36">
                <div class="icon-purple-clock-37">
                  <div class="ic-access-time-px-38"></div>
                </div>
                <span class="september-date-39">September 30, 10:00 AM</span>
              </div>
              <div class="location-3a">
                <div class="icon-purple-pin-3b">
                  <div class="ic-location-on-px-3c"></div>
                </div>
                <span class="oakland-imax-theater-3d"
                  >Oakland IMAX Theater</span
                >
              </div>
            </div>
          </div>
        </div>
        <span class="my-tickets-3e">My Tickets</span
        ><span class="view-all">View All</span>
      </div>
      <div class="scroller"></div>
    </div>
    <div class="flex-row-bbe">
      <div class="fovoeite-categories">
        <div class="category">
          <div class="category-3f">
            <div class="photo"></div>
            <div class="rectangle-40"></div>
            <div class="icons-white-movies"></div>
            <div class="icons-white-heart-41">
              <div class="ic-favorite-px-42"></div>
            </div>
            <div class="text-icon"><span class="movies">Movies</span></div>
          </div>
        </div>
        <div class="category-div">
          <div class="category-div-43">
            <div class="photo-div"></div>
            <div class="rectangle-div"></div>
            <div class="movies-icons-div">
              <div class="ic-directions-run-div"></div>
            </div>
            <div class="heart-icons-div">
              <div class="ic-favorite-div"></div>
            </div>
            <div class="text-icon-div">
              <span class="movies-span">Sports</span>
            </div>
          </div>
        </div>
        <div class="category-div-44">
          <div class="category-div-45">
            <div class="photo-div-46"></div>
            <div class="rectangle-div-47"></div>
            <div class="technology-icons-div">
              <div class="ic-computer-div"></div>
            </div>
            <div class="heart-icons-div-48">
              <div class="ic-favorite-div-49"></div>
            </div>
            <div class="text-icon-div-4a">
              <span class="technology-span">Technology</span>
            </div>
          </div>
        </div>
        <span class="favorite-categories-span">Favorite Categories</span
        ><span class="view-all-span">View All</span>
      </div>
      <div class="favorite-creators-div">
        <span class="favorite-creators-span">Favorite Creators</span>
        <div class="flex-column-c-div">
          <span class="view-all-copy-span">View All</span
          ><button class="creator-button">
            <div class="rectangle-div-4b"></div>
            <div class="bitmap-div"></div>
            <div class="heart-icons-div-4c">
              <div class="ic-favorite-div-4d"></div>
            </div>
          </button>
          <div class="creator-div">
            <div class="rectangle-div-4e"></div>
            <div class="bitmap-div-4f"></div>
            <div class="heart-icons-div-50">
              <div class="ic-favorite-div-51"></div>
            </div>
          </div>
          <button class="creator-button-52">
            <div class="rectangle-div-53"></div>
            <div class="logo-div">
              <div class="bitmap-div-54"></div>
              <div class="bitmap-div-55"></div>
            </div>
            <div class="heart-icons-div-56">
              <div class="ic-favorite-div-57"></div>
            </div>
          </button>
        </div>
      </div>
      <div class="bookmarked-events-div">
        <span class="bookmarked-events-span">Bookmarked Events</span>
        <div class="flex-column-a-div">
          <span class="view-all-copy">View All</span>
          <div class="my-tickets-58">
            <div class="bookmarked-59">
              <div class="bookmarked-event-small">
                <div class="event">
                  <div class="rectangle-5a"></div>
                  <span class="apple-special-event-5b"
                    >Apple Special Event</span
                  >
                  <div class="picture-5c"></div>
                  <div class="time-date-5d">
                    <div class="icon-purple-clock-5e">
                      <div class="ic-access-time-px-5f"></div>
                    </div>
                    <span class="september-30-10am"
                      >September 30, 10:00 AM</span
                    >
                  </div>
                  <div class="location-60">
                    <div class="icon-purple-pin-61">
                      <div class="ic-location-on-px-62"></div>
                    </div>
                    <span class="steve-jobs-theater">Steve Jobs Theater</span>
                  </div>
                </div>
              </div>
              <div class="bookmarked-event-small-63">
                <div class="event-64">
                  <div class="rectangle-65"></div>
                  <span class="oneplus-event">OnePlus Event</span>
                  <div class="picture-66"></div>
                  <div class="time-date-67">
                    <div class="icon-purple-clock-68">
                      <div class="ic-access-time-px-69"></div>
                    </div>
                    <span class="september-30-10am-6a"
                      >September 30, 10:00 AM</span
                    >
                  </div>
                  <div class="location-6b">
                    <div class="icon-purple-pin-6c">
                      <div class="ic-location-on-px-6d"></div>
                    </div>
                    <span class="oneplus-theater">OnePlus Theater</span>
                  </div>
                </div>
              </div>
              <div class="bookmarked-event-small-6e">
                <div class="event-6f">
                  <div class="rectangle-70"></div>
                  <span class="comic-con-2018">Comic-Con 2018</span>
                  <div class="picture-71"></div>
                  <div class="time-date-72">
                    <div class="icon-purple-clock-73">
                      <div class="ic-access-time-px-74"></div>
                    </div>
                    <span class="september-30-10am-75"
                      >September 30, 10:00 AM</span
                    >
                  </div>
                  <div class="location-76">
                    <div class="icon-purple-pin-77">
                      <div class="ic-location-on-px-78"></div>
                    </div>
                    <span class="oakland-theater">Oakland Theater</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>